{% extends "base.html" %}
{% block content %}
    <div class="sigle-contact">
        <h1 class="single-contact-name">
            {{pagina_contato.first_name}} {{pagina_contato.last_name}}
        </h1>
            <p>
                <b>ID: </b>
                {{pagina_contato.id}}
            </p>
            <p>
                <b>E-MAIL: </b>
                {{pagina_contato.email}}
            </p>
            <p>
                <b>PHONE: </b>
                {{pagina_contato.phone}}
            </p>
            <p>
                <b>CREATED DATE: </b>
                {{pagina_contato.created_date}}
            </p>
            <p>
                <b>DESCRIPTION:</b>
                {{pagina_contato.description}}
            </p>
            <p>
                <b>CATEGORY: </b>
                {{pagina_contato.category}}
            </p>

            <div class="contact-links">
                <a class="btn btn-link" href="{% url 'contact:update' pagina_contato.id %}">Atualizar</a>

                <form action="{% url 'contact:delete' pagina_contato.id %}" method="post"> 
                    {% csrf_token %}

                    {% if confirmation == 'no' %}
                        <input type="hidden" name="confirmation" value="yes">
                        <button class="btn btn-link btn-confirmar" type="submit">Confirmação</button>
                        {% else %}
                        <button class="btn btn-link btn-delete" type="submit">Apagar</button>
                    {% endif %}
                </form>
            </div>
    </div>

{% endblock content %}