{% extends 'base.html' %}

{% block content %}
<h1>Criação do Contato</h1>
<div class="form-wrapper">

    <h2>Contato</h2>

    <form action="{% url "contact:create" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {% comment %} Pegando dados do formulario {% endcomment %}

            <div class="form-content">
                {% for field in form %}
                {% comment %} configurando o formulário dinamicamente  {% endcomment %}
                <div class="form-group">
                    <label for="{{field_id_for_label}}">{{field.label}}</label>
                    {{field}}
                    {{field.errors}}
                </div>
                {% endfor %}
            </div>


        <div class="form-content">
            <div class="form-group">
                <button class="btn" type="submit">Send</button>
            </div>
        </div>

    </form>
</div>
{% endblock content %}